# Symfony
/BackEnd/.env.local
/BackEnd/.env.local.php
/BackEnd/.env.*.local
/BackEnd/config/secrets/prod/prod.decrypt.private.php
/BackEnd/public/bundles/
/BackEnd/var/
/BackEnd/vendor/

# PHPUnit
/BackEnd/.phpunit.result.cache
/BackEnd/phpunit.xml

# React / Node.js
/FrontEnd/node_modules/
/FrontEnd/.pnp
/FrontEnd/.pnp.js
/FrontEnd/coverage
/FrontEnd/build
/FrontEnd/.DS_Store
/FrontEnd/.env.local
/FrontEnd/.env.development.local
/FrontEnd/.env.test.local
/FrontEnd/.env.production.local
/FrontEnd/npm-debug.log*
/FrontEnd/yarn-debug.log*
/FrontEnd/yarn-error.log*

# IDEs and editors
/.idea/
/.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?